# Crea tus propias variables de entorno basadas en este template

DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase"
NEXTAUTH_URL="Your canonical URL"
GOOGLE_CLIENT_ID="Your Google ID"
GOOGLE_CLIENT_SECRET="Your Google secret"
GITHUB_ID="Your GitHub ID"
GITHUB_SECRET="Your GitHub Secret"
NEXTAUTH_SECRET="Your Secret"
# Puedes usar https://generate-secret.vercel.app/32 para generar tu secret de Next Auth